{% extends "base.html.twig" %}
{% block body %}

<h1>Bienvenue !!!</h1>

<p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur vero velit possimus sequi corporis impedit. Commodi dignissimos fugiat, praesentium libero eveniet labore officia debitis ratione possimus nisi nemo voluptates enim?
Aut quod, quae nihil, reprehenderit nisi omnis eligendi ex tempora unde nobis libero eaque ad iste ipsam! Voluptate, doloremque cum! Perferendis harum modi repellat veniam recusandae non quibusdam distinctio a?
Voluptatum consequatur quasi dolorum quo nesciunt perferendis cum omnis aut! Reiciendis tempore, soluta, asperiores consectetur iusto debitis esse expedita ex praesentium sunt nesciunt corrupti numquam ad quos quia sit quam?
Dicta corrupti ex quos, ea nisi molestiae praesentium, tempora soluta aliquam perferendis perspiciatis cum repellat quis error nesciunt, at recusandae eaque labore autem magni voluptatem esse commodi placeat. Qui, dolorem.
Praesentium iste, suscipit ad fugit atque dolorem temporibus ea. Quisquam earum aut, enim excepturi sapiente dolores ut dignissimos voluptatem saepe, ipsa repudiandae eos, alias est officiis aliquid deserunt nam maiores.
Temporibus vel, cupiditate cumque ad alias aliquid asperiores adipisci! Sapiente, cum ea, cupiditate corporis rem maxime optio, totam consectetur nostrum officia ullam dicta quibusdam. Sed tempore officiis expedita quisquam similique.
Eligendi sed ipsa asperiores aspernatur deleniti possimus, quam qui eveniet dolore odit ducimus sequi accusantium numquam ex esse iusto beatae maiores id quod ipsum. Ducimus necessitatibus nostrum dignissimos ut corporis?
Cumque sapiente dolore fugiat, illo temporibus asperiores eos libero ea maxime dignissimos deserunt optio? Quis tempora error animi magnam culpa possimus quae, explicabo eius, nostrum dolore hic corporis. Neque, ex!
Mollitia sed est labore nostrum dolor excepturi cum neque possimus, harum quod non iure explicabo quae distinctio molestias voluptate tenetur officiis similique temporibus animi ipsa! Nulla laudantium quas delectus iusto.
Impedit, debitis, ad eaque similique quasi facere omnis nemo distinctio eum minus, voluptatem qui. Laboriosam ducimus ratione cum, eius totam minus asperiores aspernatur, cupiditate numquam cumque ipsum odit nam? Quod?
</p>

{% endblock %}